@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
  margin: 0;
  font-family: 'Dosis';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #373737;
}
 
body::-webkit-scrollbar-track {
  -box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #373737;
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #191919;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAvatar-root {
    border: 2px solid rgb(255, 152, 0);
}

/* .MuiButton-root {
  text-transform: none !important;
  color: #B8BBBF !important;
} */

.MuiPaper-elevation1 {
  box-shadow: unset !important;
}

.MuiTab-root {
  text-transform: unset !important;
  font-weight: 600 !important;
}

/* .MuiTab-textColorInherit {
  color: #B8BBBF !important;
}

.MuiTab-textColorInherit.Mui-selected {
  color: #2E89FF !important;
}

.PrivateTabIndicator-colorPrimary-8 {
  background-color: #2E89FF !important;
} */



.PrivateTabIndicator-root-4 {
  height: 3px !important;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.MuiTabs-flexContainer {
  justify-content: space-evenly;
}


